body, html {
    padding: 0;
    height: 100%;
    overflow: hidden; 
}
video {
    z-index: -1;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    transform: translate(-50%, -50%); 
}

.mt-5 a {
    text-decoration: none;
    color: aliceblue;
}
